:root {
    --plata: #f4f4f4;
    --morado: #6a11cb;
    --hover-color: #575757;
    --text-color: white;
    --background-color: #fff;
    --button-color: #28a745; /* Color verde para el bot贸n */
    --button-hover-color: #218838; /* Verde oscuro para el hover del bot贸n */
    --button-text-color: white; /* Color del texto del bot贸n */
    --button-hover-text-color: white; /* Color del texto del bot贸n en hover */
}

body {
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
    background-color: var(--plata);
    margin: 0;
    padding: 0;
}

nav {
    background-color: var(--morado);
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    display: block;
    color: var(--text-color);
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: var(--hover-color);
}

nav ul li a:active {
    background-color: #2575fc;
}

nav ul li a:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.5);
}

/* Estilos Responsivos */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }
}
.carousel {
    position: relative;
    max-width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background: #fff;
}

.carousel-inner {
    display: flex;
    transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

.carousel-item {
    min-width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.carousel input {
    display: none;
}

.carousel input:checked + .carousel-inner .carousel-item {
    display: block;
    transform: translateX(0);
}

.carousel input:nth-child(1):checked ~ .carousel-inner {
    transform: translateX(0%);
}

.carousel input:nth-child(2):checked ~ .carousel-inner {
    transform: translateX(-100%);
}

.carousel input:nth-child(3):checked ~ .carousel-inner {
    transform: translateX(-200%);
}

.carousel label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    color: #6a11cb;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 32px;
    z-index: 1;
    transition: background-color 0.3s;
}

.carousel label:hover {
    background-color: rgba(255, 255, 255, 1);
}

.carousel .prev {
    left: 15px;
}

.carousel .next {
    right: 15px;
}

.ads {
    position: fixed;
    top: 70px; 
    width: 100px;
    background-color: #fff;
    z-index: 2000; 
}

.ads.left {
    left: 0;
}

.ads.right {
    right: 0;
}

.ads img {
    display: block;
    width: 100%;
}

.content {
    margin: 20px;
    padding: 20px;
    background-color:var(--primario);
    border-radius: 5px;
}

.content_h1{
    text-align: center;
}

.tabla{
    background-color: var(--azul);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

video {
    width: 100%;
    margin-top: 20px;
}
 


.contact-form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: var(--background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--morado);
}

.contact-form .form-group {
    margin-bottom: 15px;
    
}

.contact-form .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    

}

.contact-form .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    
}

.contact-form .form-group button {
    width: 100%;
    padding: 10px;
    background: var(--button-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form .form-group button:hover {
    background: var(--button-hover-color);
}
  


.parallax {
    background-image: url('/img/1.jpg'); /* Reemplazar con la URL de tu imagen */
    height: 850px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    text-align: center;
}

.parallax .header-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}
.parallax2 {
    background-image: url('/img/2.jpg'); /* Reemplazar con la URL de tu imagen */
    height: 850px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    text-align: center;
}

.parallax2 .header-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}


.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.card {
    background: var(--background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    width: calc(33.333% - 20px);
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 20px;
    flex-grow: 1;
}

.card-content h3 {
    margin-top: 0;
    color: var(--morado);
}

.card-content p {
    flex-grow: 1;
}

.card-content button {
    background: var(--button-color);
    color: var(--button-text-color);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
}

.card-content button:hover {
    background: var(--button)
}
@media (max-width: 992px) {
    .card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .card {
        width: 100%;
    }
}

.services {
    padding: 20px;
    background: var(--background-color);
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
}

.services h2 {
    color: var(--morado);
    margin-bottom: 20px;
}

.services-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}


/* Footer */
footer {
    background-color: var(--morado);
    color: var(--text-color);
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-section {
    flex: 1 1 300px;
    margin: 10px;
}

.footer-section h3 {
    margin-top: 0;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 10px 0;
}

.footer-section ul li a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: var(--hover-color);
}

.footer-section .socials a {
    margin: 0 10px;
    display: inline-block;
}

.footer-section .socials img {
    width: 32px;
    height: 32px;
}

.footer-bottom {
    margin-top: 20px;
}

